HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/

# Ignorar a pasta target (artefatos gerados pelo Maven)
target/

# Ignorar o repositório local do Maven (pasta .m2)
.m2/

# Ignorar arquivos de log
*.log

# Ignorar arquivos temporários do sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos de configuração da IDE (por exemplo, IntelliJ, Eclipse)
.idea/
*.iml
*.classpath
*.project

# Ignorar arquivos de configuração sensíveis
application.properties
application.yml
